.green {
  background-color: #00ab66;
}
.blue {
  background-color: #6495ed;
}
.grey {
  background-color: #a8a8a8;
}
.wheat {
  background-color: wheat;
}
.yellow {
  background-color: goldenrod;
}
.red {
  background-color: #f08080;
}
.grid {
  margin-top: 10px;
  margin-left: 10px;
}