<div>
  <div gdAreas="topLeft topMiddle topMiddle topRight | bottomLeft bottomLeft middleRight middleRight | bottomLeft bottomLeft bottomRight bottomRight"
    gdRows="33fr 33fr 33fr" gdColumns="30fr 25fr 20fr 25fr" gdGap="5px" class="grid">

    <!-- user interface -->
    <div gdArea="topLeft" class="green">
      <input type="checkbox" id="topLeftVisibility" name="topLeftVisibility" [(ngModel)]="state.topLeftVisibility">
      <label for="topLeftVisibility">Visability</label>
    </div>
    
    <div gdArea="topMiddle" class="blue">
      <input type="checkbox" id="topMiddleVisibility" name="topMiddleVisibility" [(ngModel)]="state.topMiddleVisibility">
      <label for="topMiddleVisibility">Visability</label>
    </div>

    <div gdArea="topRight" class="grey">
      <input type="checkbox" id="topRightVisibility" name="topRightVisibility" [(ngModel)]="state.topRightVisibility">
      <label for="topRightVisibility">Visability</label>
    </div>

    <div gdArea="middleRight" class="red">
      <input type="checkbox" id="middleRightVisibility" name="middleRightVisibility" [(ngModel)]="state.middleRightVisibility">
      <label for="middleRightVisibility">Visability</label>
    </div>

    <div gdArea="bottomLeft" class="wheat">
      <input type="checkbox" id="bottomLeftVisibility" name="bottomLeftVisibility" [(ngModel)]="state.bottomLeftVisibility">
      <label for="bottomLeftVisibility">Visability</label>
    </div>

    <div gdArea="bottomRight" class="yellow">
      <input type="checkbox" id="bottomRightVisibility" name="bottomRightVisibility" [(ngModel)]="state.bottomRightVisibility">
      <label for="bottomRightVisibility">Visability</label>
    </div>

  </div>

  <button (click)="showGrid()">Shou Grid</button>

  <!-- preview -->
  <div *ngIf="gridAreas !== ''" [gdAreas]="gridAreas" gdRows="50fr 10fr 80fr" gdColumns="20fr 40fr 20fr 20fr" gdGap="5px" class="grid">
    <div gdArea="topLeft" class="green" *ngIf="previewState.topLeftVisibility">topLeft</div>
    <div gdArea="topMiddle" class="blue" *ngIf="previewState.topMiddleVisibility">topMiddle</div>
    <div gdArea="topRight" class="grey" *ngIf="previewState.topRightVisibility">topRight</div>
    <div gdArea="middleRight" class="red" *ngIf="previewState.middleRightVisibility">middleRight</div>
    <div gdArea="bottomLeft" class="wheat" *ngIf="previewState.bottomLeftVisibility">bottomLeft</div>
    <div gdArea="bottomRight" class="yellow" *ngIf="previewState.bottomRightVisibility">bottomRight</div>
  </div>
</div>